<div id="users">
    <div class="panel panel-default">
        <div class="panel-heading">Users</div>
        <div class="panel-body">

            <div ng-if="resource">

                <table class="table table-striped table-hover ">
                    <thead>
                    <tr>
                        <th>User</th>
                        <th>E-Mail</th>
                        <th width="120px"></th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr ng-repeat="user in resource">
                        <td class="vert-align">[[user.name]]</td>
                        <td class="vert-align">[[user.email]]</td>
                        <td>
                            <div>
                                <a ng-click="open(server.id)" class="btn btn-default"><span
                                        class="glyphicon glyphicon-edit" aria-hidden="true"></span></a>
                                <a ui-sref="servers.detail({id:server.id})" class="btn btn-default"><span
                                        class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span></a>
                            </div>
                        </td>
                    </tr>

                    </tbody>
                </table>

            </div>
            <div cg-busy="myPromise"></div>


        </div>
    </div>
</div>